Installation:
Need a higher version of pygame than what comes with the basic pip install:

* python3.7 -m pip install --user pygame==2.0.0.dev6
* python3.7 -m pip install Pillow
* python3.7 -m pip install PyOpenGL
* python3.7 -m pip install PyOpenGL-accelerate